@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-family-karla {
    font-family: Karla, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.bg-sidebar {
    background: #2a7b9d;
}

.cta-btn {
    color: #246e8a;
}

.upgrade-btn {
    background: #217082;
}

.upgrade-btn:hover {
    background: #adc2cb;
}

.active-nav-link {
    background: #1947ee;
}

.nav-item:hover {
    background: #1947ee;
}

.account-link:hover {
    background: #3d68ff;
}
